<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
        crossorigin
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet"
    >

    <link
        rel="stylesheet"
        href="/static/css/dashboard.css"
    >

    <title>Dashboard</title>

</head>


<body>

    <div class="main-content-box">

        <h1>
            Bienvenid@ a mi Trabajo de Fin de Grado!!
        </h1>

        <a
            href="/server"
            class="enter-button"
        >
            Entrar
        </a>

    </div>

</body>

</html>